@media (0px <= width <= 700px) {
    .title{
        text-align: center;
        width: 95%;
        font-size: 48px;
    }
    .desc{
        width: 100%;
    }
    .descText{
        text-align: center;
        width: 90%;
    }
    .about::before{
        display: none;
    }
    .aboutContent::before{
        display: none;
    }
    .aboutPart3::before{
        display: none;
    }
    .menuLinks{
        display: none !important;
    }
    .home{
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
        width: 50% !important;
        img{
            width: 100% !important;
        }

    }
    .mainContent{
        flex-direction: column;
    }
    .aboutContent{
        flex-direction: column;
        
    }
    .aboutPanels{
        margin-top: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .aboutPart2{
        flex-direction: column;

    }
    .mainContentImages{
        width: 70%;
    }
    .img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
    }
    .about{
        background-position: top 50px left 10px;
    }
    .panelsContent{
        text-align: center;
    }


    //userPanel

    .form1{
        width: 100%;
    }
    .form1 form {
        width: 100%;
        height: 100%;
    }
    .form{
        form{
            width: 70%;
        }
    }
    .boxes{
        margin-top: 50px;
        flex-direction: column;
    }
    .logInBackground{
        display: none;
    }


    //QuestionDisplay

    .quizz{
        width: 100%;
    }

    .question{
        width: 80%;
        height: 100%;
        flex-direction: column;
    }

    .answers {
        display: grid;
        margin-top: 30px;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        gap: 30px;
    }
    .questionQuest {
        font-size: 24px;
    }
    .answerButton {
        font-size: 24px;
        width: 100%;
        height: 100%;
    }
    h1{
        font-size: 24px;
    }
    //rank
    .contentRank{
        img{
            width: 100%;
        }
    }
    .rankPerson {
        width: 80%;
    }
    .background{
        display: none;
    }

    .aboutPart2{
            background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 800 800"><defs><linearGradient x1="50%25" y1="0%25" x2="50%25" y2="100%25" id="nnneon-grad"><stop stop-color="%2300d092" stop-opacity="1" offset="0%25"></stop><stop stop-color="%236741e2" stop-opacity="1" offset="100%25"></stop></linearGradient><filter id="nnneon-filter" x="-100%25" y="-100%25" width="400%25" height="400%25" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feGaussianBlur stdDeviation="17 8" x="0%25" y="0%25" width="100%25" height="100%25" in="SourceGraphic" edgeMode="none" result="blur"></feGaussianBlur></filter><filter id="nnneon-filter2" x="-100%25" y="-100%25" width="400%25" height="400%25" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feGaussianBlur stdDeviation="10 17" x="0%25" y="0%25" width="100%25" height="100%25" in="SourceGraphic" edgeMode="none" result="blur"></feGaussianBlur></filter></defs><g stroke-width="16" stroke="url(%23nnneon-grad)" fill="none"><path d="M388.4530107167675 233.46125231926777C395.59828768523175 229.33666774729716 404.40171231476825 229.33666774729716 411.5469892832325 233.46240701819613L538.4530203016707 306.7315181170911C545.5982972701349 310.8561026890618 550.0000095849032 318.48057971278024 550.0000095849032 326.7309035556499V473.2691257534399C550.0000095849032 481.5194495963096 545.5982972701349 489.14392662002797 538.4530203016707 493.26966589092694L411.5469892832325 566.538776989822C404.40171231476825 570.6633615617925 395.59828768523175 570.6633615617925 388.4530107167675 566.5376222908938L261.54697969832927 493.26851119199864C254.401702729865 489.14392662002797 249.99999041509682 481.5194495963096 249.99999041509682 473.2691257534399V326.7309035556499C249.99999041509682 318.48057971278024 254.401702729865 310.8561026890618 261.54697969832927 306.7303634181629L388.4530107167675 233.46125231926777Z " filter="url(%23nnneon-filter)"></path><path d="M400.4530107167675 233.46125231926777C407.59828768523175 229.33666774729716 416.40171231476825 229.33666774729716 423.5469892832325 233.46240701819613L550.4530203016707 306.7315181170911C557.5982972701349 310.8561026890618 562.0000095849032 318.48057971278024 562.0000095849032 326.7309035556499V473.2691257534399C562.0000095849032 481.5194495963096 557.5982972701349 489.14392662002797 550.4530203016707 493.26966589092694L423.5469892832325 566.538776989822C416.40171231476825 570.6633615617925 407.59828768523175 570.6633615617925 400.4530107167675 566.5376222908938L273.54697969832927 493.26851119199864C266.401702729865 489.14392662002797 261.9999904150968 481.5194495963096 261.9999904150968 473.2691257534399V326.7309035556499C261.9999904150968 318.48057971278024 266.401702729865 310.8561026890618 273.54697969832927 306.7303634181629L400.4530107167675 233.46125231926777Z " filter="url(%23nnneon-filter2)" opacity="0.25"></path></g></svg>') no-repeat center;
    
    }
}
