{% extends 'base.html.twig' %}

{% block title %}Hello UserController! {% endblock %}

{% block body %}
{# templates/home.html.twig #}
<div id="app">
        <p>adad: {{user.name}}</p>
        <p>aa</p>
    <Hello :name="'{{ user.name }}'"></Hello>
            {{ form_start(form) }}
            {# your custom code for rendering the form #} 
            {# if you leave default then it should render with bad styles etc. #}
        {{ form_end(form) }}
</div>

</div>


{% endblock %}
